.comparePlayersList {
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 4px rgb(110,110,110);
    margin: 5vh auto;
}

.comparePlayersListContainer {
    width: 25%;
    height: 100%;
    padding: 5px 5px;
    text-align: left;
    background-color: white;
    margin: 0 auto;
}

.compareListHeader {
    color: black;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.headerPlayerContainer {
    width: 65%;
    text-align: center;
}

.headerPlayerContainer > h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(50,50,50,0.5);
    margin: 0px auto;
    width: 80%;
}

.titleContainer {
    /* width: 50%; */
    text-align: center;
    /* margin: 0px auto; */
    float: left;
}

.headerStatContainer {
    width: 35%;
    text-align: center;
}

.h3Underline {
    width: 100%;
    margin: 0px auto;
}
  
.h3Underline > h3 {
    border-bottom: 2px solid rgba(50,50,50,0.5);
    padding-bottom: 5px;
    width: 100%;
}

.compareModalInner {
    width: 92.5%;
    height: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 4px rgb(110,110,110);
    margin: 4vh auto;
    display: flex;
    flex-wrap: wrap;
}