.comparePlayersList {
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 4px rgb(110,110,110);
    margin: 5vh auto;
}

.comparePlayersListContainer {
    width: 25%;
    height: 100%;
    padding: 5px 5px;
    text-align: left;
    background-color: white;
    margin: 0 auto;
}

.compareListHeader {
    color: black;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.headerPlayerContainer {
    width: 65%;
    text-align: center;
}

.headerPlayerContainer > h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(50,50,50,0.5);
    margin: 0px auto;
    width: 80%;
}

.titleContainer {
    text-align: center;
    float: left;
}

.headerStatContainer {
    width: 30%;
    text-align: center;
    margin-left: 9px;
}

.h3Underline {
    width: 100%;
    margin: 0px auto;
}
  
.h3Underline > h3 {
    border-bottom: 2px solid rgba(50,50,50,0.5);
    padding-bottom: 5px;
    width: 100%;
}

.compareModalInner {
    width: 92.5%;
    height: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 4px rgb(110,110,110);
    margin: 4vh auto;
    display: flex;
    flex-wrap: wrap;
}

.comparePlayerLIContainer {
    width: 100%;
    cursor: pointer;
}

.playerListRow {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(50,50,50,0.5);
}

.nameBox { 
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.playerName {
    width: 75%;
    margin-left: 5px;
    padding-right: 2px;
}

.statCheckContainer {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.statBox {
    width: 66%;
    float: left;
    text-align: center;
}

.statBox > h5 {
    border-left: 1px dotted rgba(50,50,50,0.5);
  }