.donutContainer {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.pieChartHeader {
  width: 75%;
  text-align: center;
  margin: 2px auto;
}

.pieChartHeader > h2 {
  border-bottom: solid rgb(59, 59, 59) 1px;
  padding-bottom: 5px;
}

.Donut { 
    height: 50vh;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    /* padding-top: 2em; */
  }
  