.TopTenCompareLine {
    height: 415px;
    min-width: 500px;
    width: 75%;
    flex: 1;
    overflow: hidden;
}

.playerLine {
    fill: none;
    /* stroke-width: 2px; */
}

.tick line {
    opacity: .8;
    stroke: #bbbbbb;
}

.tick text {
    fill: #565656;
}

.toolTip {
    text-align: center;
}
