body, ul, h2, h3, h4, h5, p, button, a, div{
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
  }

body {
    background: #360d3a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0cc991, #360d3a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0cc991, #360d3a); 
    min-height: 100vh;
    background-repeat: repeat;
}

.pageContainer {
  width: 80%;
  min-height: 450px;
  max-height: 75%;
  margin: auto;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 1;
}

.modal {
  width: 70%;
  margin: 0 auto;
  background:  #e7d9fc;
  border-radius: 10px;
  text-align: center;
  border: 2px solid white;
  box-shadow: 0px 0px 8px rgb(255,255,255);
  height: 80vh;
}

.modalButton {
    color: white;
    background: linear-gradient(270deg,#ff2882,#963cff 45%);
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    margin: 15px 0px;
    cursor: pointer;
    opacity: 0.75;
    padding: 10px 15px;
    float: right;
  }

.headerButtonContainer {
    width: 45%;
}

.modalHeader {
    width: 100%;
    color: white;
    background: linear-gradient(to right ,#ff2882,#963cff, #fff 70%);
    min-height: 50px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.modalHeader > h2 {
    padding: 15px;
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.modalContentContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


