.teamStatsModalInner {
    width: 92.5%;
    height: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 4px rgb(110,110,110);
    margin: 4vh auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 415px;
}

.statsContainer {
    width: 55%;
}